<%if task.errors.any? %>
  <ul>
    <% task.errors.full_messages.each do |message|%>
      <li> <%= message %> </li>
    <%end%>
  </ul>
<% end %>

<%= form_for task do |f| %>
<div>
  <%=f.label :title, t('tasks.form.title') %>
  <%=f.text_field :title %>
</div>
<div>
  <%=f.label :content, t('tasks.form.content') %>
  <%=f.text_field :content %>
</div>
<div>
  <%=f.label :start_at, t('tasks.form.start_at') %>
  <%=f.date_select :start_at %>
</div>
<div>
  <%=f.label :end_at, t('tasks.form.end_at') %>
  <%=f.date_select :end_at %>
</div>
<div>
  <%=f.label :priority, t('tasks.form.priority') %>
  <%=f.select :priority ,Task.priorities.keys.map {|priority| [I18n.t("enums.task.priority.#{priority}"),priority]} %>
</div>
<div>
  <%=f.submit t('tasks.form.submit') %>
</div>
<% end %>
