<h1> <%= t('tasks.index.title')%> </h1>
<%= link_to t('tasks.link.new'), new_task_path %>
<%= link_to t('tasks.link.asc'), tasks_path(order: :asc) %>
<%= link_to t('tasks.link.desc'), tasks_path(order: :desc) %>
<%= link_to t('tasks.link.tasc'), tasks_path(end_at: :asc) %>
<%= link_to t('tasks.link.tdesc'), tasks_path(end_at: :desc) %>
<table>
  <thead>
    <tr>
      <td> <%= t('tasks.form.title')%> </td>
      <td> <%= t('tasks.form.start_at')%> </td>
      <td> <%= t('tasks.form.end_at')%> </td>
      <td> <%= t('tasks.index.option')%> </td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= task.start_at&.strftime("%Y/%m/%d") %></td>
        <td><%= task.end_at&.strftime("%Y/%m/%d") %></td>
        <td><%= link_to t('tasks.link.edit'), edit_task_path(task) %></td>
        <td> <%= link_to t('tasks.link.delete'),task_path(task), method:'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  


