<div class="w-50 mx-auto">

  <h1> <%= t("users.body.#{action_name}")%> </h1>

  <%if user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul class="list-group">
      <% user.errors.full_messages.each do |message|%>
        <li class="list-group-item"> <%= message %> </li>
      <%end%>
    </ul>
  </div>
<% end %>


  <%= form_for user,url: action_name == 'new'? admin_users_path : admin_user_path do |f| %>
    <div class='mb-3'>
      <%=f.label :name,t('users.form.name'), class:'form-label' %>
      <%=f.text_field :name, class:'form-control' %>
    </div>
    <div class='mb-3'>
      <%=f.label :email,t('users.form.email'), class:'form-label' %>
      <%=f.text_field :email, class:'form-control'%>
    </div>
    <div class='mb-3'>
      <%=f.label :password, t('users.form.password'), class:'form-label' %>
      <%=f.password_field :password, class:'form-control' %>
    </div>
    <div class='mb-3'>
      <%=f.label :password_confirmation,t('users.form.confirmation_password'), class:'form-label' %>
      <%=f.password_field :password_confirmation, class:'form-control' %>
    </div>
    <div>
      <%=f.submit t('tasks.form.submit'), class:'btn btn-outline-primary' %>
    </div>
  <% end %>

  <nav class="nav justify-content-center mx-auto w-50">
    <li class="nav-item">
      <%= link_to t('tasks.link.back'), root_path , class:"nav-link" %>
    </li>
  </nav>
</div>
