<div class="container">

<%= link_to t('users.body.new'), new_admin_user_path,class: 'btn btn-primary btn-lg my-3' %>

<table class="table table-hover table-bordered text-center">
  <thead>
    <tr>
      <td><%= t('users.form.name')%></td>
      <td><%= t('users.form.email')%></td>
      <td><%= t('users.body.count')%></td>
      <td><%= t('tasks.index.option')%></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to user.email, admin_user_path(user) %></td>
        <td><%= user.tasks.size %></td>
        <td>
          <%= link_to t('tasks.link.edit'), edit_admin_user_path(user),class:"btn btn-outline-success" %>
          <%= link_to t('tasks.link.delete'),admin_user_path(user), method:'delete', class:"btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="row">
    <div class="col-6 mx-auto">
      <%= paginate @users %>
    </div>
  </div>
</div>
